drwxr-xr-x	root/root	usr/include/
drwxr-xr-x	root/root	usr/include/KF6/
drwxr-xr-x	root/root	usr/include/KF6/KConfig/
-rw-r--r--	root/root	usr/include/KF6/KConfig/kconfig_version.h
drwxr-xr-x	root/root	usr/include/KF6/KConfigCore/
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KAuthorized
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KConfig
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KConfigBase
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KConfigGroup
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KConfigWatcher
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KCoreConfigSkeleton
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KDesktopFile
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KDesktopFileAction
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KEMailSettings
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/KSharedConfig
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kauthorized.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kconfig.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kconfigbase.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kconfigconversioncheck_p.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kconfigcore_export.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kconfiggroup.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kconfigwatcher.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kcoreconfigskeleton.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kdesktopfile.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kdesktopfileaction.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/kemailsettings.h
-rw-r--r--	root/root	usr/include/KF6/KConfigCore/ksharedconfig.h
drwxr-xr-x	root/root	usr/include/KF6/KConfigGui/
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KConfigGui
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KConfigLoader
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KConfigSkeleton
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KStandardActions
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KStandardShortcut
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KStandardShortcutWatcher
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KWindowConfig
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/KWindowStateSaver
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kconfiggui.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kconfiggui_export.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kconfigguistaticinitializer.cpp
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kconfigloader.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kconfigskeleton.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kstandardactions.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kstandardactions_p.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kstandardshortcut.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kstandardshortcutwatcher.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kwindowconfig.h
-rw-r--r--	root/root	usr/include/KF6/KConfigGui/kwindowstatesaver.h
drwxr-xr-x	root/root	usr/include/KF6/KConfigQml/
-rw-r--r--	root/root	usr/include/KF6/KConfigQml/KConfigPropertyMap
-rw-r--r--	root/root	usr/include/KF6/KConfigQml/kconfigpropertymap.h
-rw-r--r--	root/root	usr/include/KF6/KConfigQml/kconfigqml_export.h
