drwxr-xr-x	root/root	usr/
drwxr-xr-x	root/root	usr/lib/
drwxr-xr-x	root/root	usr/lib/cmake/
drwxr-xr-x	root/root	usr/lib/cmake/KF6ConfigWidgets/
-rw-r--r--	root/root	usr/lib/cmake/KF6ConfigWidgets/KF6ConfigWidgetsConfig.cmake
-rw-r--r--	root/root	usr/lib/cmake/KF6ConfigWidgets/KF6ConfigWidgetsConfigVersion.cmake
-rw-r--r--	root/root	usr/lib/cmake/KF6ConfigWidgets/KF6ConfigWidgetsTargets-release.cmake
-rw-r--r--	root/root	usr/lib/cmake/KF6ConfigWidgets/KF6ConfigWidgetsTargets.cmake
lrwxrwxrwx	root/root	usr/lib/libKF6ConfigWidgets.so -> libKF6ConfigWidgets.so.6
lrwxrwxrwx	root/root	usr/lib/libKF6ConfigWidgets.so.6 -> libKF6ConfigWidgets.so.6.23.0
-rwxr-xr-x	root/root	usr/lib/libKF6ConfigWidgets.so.6.23.0
drwxr-xr-x	root/root	usr/lib/qt6/
drwxr-xr-x	root/root	usr/lib/qt6/plugins/
drwxr-xr-x	root/root	usr/lib/qt6/plugins/designer/
-rwxr-xr-x	root/root	usr/lib/qt6/plugins/designer/kconfigwidgets6widgets.so
drwxr-xr-x	root/root	usr/share/
drwxr-xr-x	root/root	usr/share/qlogging-categories6/
-rw-r--r--	root/root	usr/share/qlogging-categories6/kconfigwidgets.categories
-rw-r--r--	root/root	usr/share/qlogging-categories6/kconfigwidgets.renamecategories
