drwxr-xr-x	root/root	usr/share/locale/ia/
drwxr-xr-x	root/root	usr/share/locale/ia/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/ia/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/ia/kf6_entry.desktop
