drwxr-xr-x	root/root	usr/share/locale/da/
drwxr-xr-x	root/root	usr/share/locale/da/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/da/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/da/kf6_entry.desktop
