drwxr-xr-x	root/root	usr/share/locale/lv/
drwxr-xr-x	root/root	usr/share/locale/lv/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/lv/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/lv/kf6_entry.desktop
