drwxr-xr-x	root/root	usr/share/locale/sl/
drwxr-xr-x	root/root	usr/share/locale/sl/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/sl/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/sl/kf6_entry.desktop
