drwxr-xr-x	root/root	usr/share/locale/si/
drwxr-xr-x	root/root	usr/share/locale/si/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/si/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/si/kf6_entry.desktop
