drwxr-xr-x	root/root	usr/share/locale/uz/
drwxr-xr-x	root/root	usr/share/locale/uz/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/uz/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/uz/kf6_entry.desktop
drwxr-xr-x	root/root	usr/share/locale/uz@cyrillic/
drwxr-xr-x	root/root	usr/share/locale/uz@cyrillic/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/uz@cyrillic/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/uz@cyrillic/kf6_entry.desktop
