drwxr-xr-x	root/root	usr/share/locale/bg/
drwxr-xr-x	root/root	usr/share/locale/bg/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/bg/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/bg/kf6_entry.desktop
