drwxr-xr-x	root/root	usr/share/locale/is/
drwxr-xr-x	root/root	usr/share/locale/is/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/is/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/is/kf6_entry.desktop
