drwxr-xr-x	root/root	usr/share/locale/vi/
drwxr-xr-x	root/root	usr/share/locale/vi/LC_MESSAGES/
-rw-r--r--	root/root	usr/share/locale/vi/LC_MESSAGES/kconfigwidgets6.mo
-rw-r--r--	root/root	usr/share/locale/vi/kf6_entry.desktop
